<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.KDRegisterMapper">
	<!-- 회원가입 - 모든 유저 -->
	<insert id="insertRegister">
		insert INTO user_board (
		        userName,
		        userId,
		        password,
		        address,
		        phoneNumber,
		        userEmail,
		        userBirth,
		        interest1,
		        interest2,
		        interest3) 
		        VALUES (#{userName},#{userId},#{password},#{address},#{phoneNumber},#{userEmail},#{userBirth},#{favorite_activity[0]},#{favorite_activity[1]},#{favorite_activity[2]})
	</insert>

	<!-- 유저 부분 -->
	
	<!-- 로그인 후 로그인 정보 -->
	<select id="selectByUser" resultType="com.company.domain.KDLoginInfoVO">
		SELECT 
			userId,
		    userName,
		    user_level,
		    userInfo,
		    password,
		    address,
		    phoneNumber,
		    userEmail,
		    userBirth,
		    interest1,
		    interest2,
		    interest3,
		    regDate
		FROM
		    user_board where userId =#{userId} and password=#{password}
	</select>
	
	<!-- 강사 프로필 정보 -->
	<select id="selectProfile" resultType="com.company.domain.KDLoginInfoVO">
		SELECT
		    userId,
		    userName,
		    user_level,
		    userInfo,
		    password,
		    address,
		    phoneNumber,
		    userEmail,
		    userBirth,
		    interest1,
		    interest2,
		    interest3,
		    regDate
		FROM
		    user_board where userId =#{userId}
	</select>
	
	<!-- 강사 프로필 정보란 수정 -->
	<update id="updateUser">
		UPDATE user_board set userInfo =#{userInfo} where
		userId=#{userId}
	</update>
	
	<!-- 문의내역 조회 수정 필수 -->
	<select id="QnAUser" resultType="com.company.domain.YHQandABoardVO">
		select qb.bno, qb.title, qb.writer_id, qb.regdate, qb.replydate, ub.userId
		from QANDA_BOARD qb, user_board ub
		where qb.writer_id = ub.userId and ub.userId = #{userId}
	</select>
	
	<!-- user_id 가 같은 사람이 있는지 확인 -->
	<update id="findUserId" >
UPDATE user_board set userId =#{userId} where
		userId=#{userId}	</update>
	
</mapper>