<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.SHMapLocationMapper">
	<select id="countMapLocation" resultType="int">
		SELECT COUNT(lno) AS lno
		FROM map_location
	</select>
	
	<select id="selectMapLocationList" resultType="com.company.domain.SHMapLocationVO">
		<![CDATA[
			SELECT rn, lno, name, address, content, latitude, longitude
			FROM
			(
				SELECT ROWNUM AS rn, lno, name, address, content, latitude, longitude
				FROM (
					SELECT lno, name, address, content, latitude, longitude
					FROM map_location
					ORDER BY address
				)
			)
			WHERE rn > (#{page} - 1) * #{pageCount} AND rn <= #{page} * #{pageCount}
		]]>
	</select>
</mapper>