<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.SigninMapper">
	<insert id="regist">
		insert Into user_table values(#{userid},#{password},#{name},#{email},#{purpose1},#{purpose2},#{purpose3})
	</insert>

</mapper>