<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.YHAnnounceBoardMapper">


<select id="searchAll" resultType="com.company.domain.YHAnnouceReplyVO">
	<![CDATA[
	select rn ,bno, title ,regdate,replycnt,written from(
select rownum rn,bno,title,regdate,replycnt,written
from announce_board
where 
 rownum<=#{pageNum}*10) where rn>(#{pageNum}-1)*10
]]>
</select>




</mapper>