<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.YHAreaChatMapper">
		<!-- 지역 채팅 리스트 -->
		<select id="ChatList" resultType="com.company.domain.YHAreaChatVO">
			select area, usernum from areachattingroom 
		</select>
		
		<!-- 서울 채팅 (수 제한?) 조회 -->
		<select id="seoulGetChat20" resultType="com.company.domain.YHAreaChatGetVO">
		  <![CDATA[ SELECT * FROM (SELECT * FROM area_chat WHERE area='seoul'  ORDER BY rno DESC) WHERE ROWNUM <= 20
   ]]>
		</select>
		<select id="seoulGetChat5" resultType="com.company.domain.YHAreaChatGetVO">
		  <![CDATA[ SELECT * FROM (SELECT * FROM area_chat WHERE area='seoul'  ORDER BY rno DESC) WHERE ROWNUM <=5  ]]>
		</select>
		
		<!-- 서울 채팅방 들어가기 -->
		<insert id="seoulChatInsert">
			insert into area_chat(area ,user_id,content) 
			values('seoul',#{user_id},#{content})
		</insert>
		
		<!-- 채팅방 들어간 사람의 수를 감지 플러스 / 마이너스 -->
		<update id="seoulUserNumPlus">
			update areachattingroom  set userNum =userNum+1 where area = '서울'
		</update>
		<update id="seoulUserNumMinus">
			update areachattingroom  set userNum =userNum -1 where area = '서울'
		</update>
</mapper>