<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.YHChatMapper">
		<!-- 실시간문의 게시판 리스트 -->
		<select id="getList" resultType="com.company.domain.YHChatRoomVO">
			SELECT
			    roomnumber,
			    useable
			FROM
			    chattingroom		
		</select>
		
		<!-- 방 들어옴 -->
		<update id="goIntoRoom1">
			update  chattingroom
			set useable=2 
			where roomnumber=1
		</update>
		<update id="goIntoRoom2">
			update  chattingroom
			set useable=2 
			where roomnumber=2
		</update>
		<update id="goIntoRoom3">
			update  chattingroom
			set useable=2 
			where roomnumber=3
		</update>
		
		<!-- 방 나감 -->
		<update id="goOutRoom1">
		update  chattingroom
		set useable=1 
		where roomnumber=1
		</update>
		<update id="goOutRoom2">
		update  chattingroom
		set useable=1
		where roomnumber=2
		</update>
		<update id="goOutRoom3">
		update  chattingroom
		set useable=1 
		where roomnumber=3
		</update>
		
		<!-- 방 삭제 실수로 실행해버렸는데..-->
		<delete id="goOutRoom1remove">
			delete chatRoom1
		</delete>
		<delete id="goOutRoom2remove">
			delete chatRoom2
		</delete>
		<delete id="goOutRoom3remove">
			delete chatRoom3
		</delete>
		
		<!-- 뭔지 모르겠어요 -->
		<insert id="chatInsertRoom1">
			insert into chatroom1(fromid, content)
			values (#{fromid} ,#{content})		
		</insert>
		<insert id="chatInsertRoom2">
			insert into chatroom2(fromid, content)
			values (#{fromid} ,#{content})		
		</insert>
		<insert id="chatInsertRoom3">
			insert into chatroom3(fromid, content)
			values (#{fromid} ,#{content})		
		</insert>
		
		<!-- 1번 채팅방 리스트 조회 -->
		<select id="getRoom1ChatList" resultType="com.company.domain.YHChatVO">
		 	SELECT
			    rno,
			    fromid,
			    content
			FROM
			    chatroom1
			ORDER BY
			    rno DESC
		</select>
		<select id="getRoom2ChatList" resultType="com.company.domain.YHChatVO">
		 	SELECT
			    rno,
			    fromid,
			    content
			FROM
			    chatroom2
			ORDER BY
			    rno DESC
		</select>
		<select id="getRoom3ChatList" resultType="com.company.domain.YHChatVO">
		 	SELECT
			    rno,
			    fromid,
			    content
			FROM
			    chatroom3
			ORDER BY
			    rno DESC
		</select>
</mapper>