<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.YHQandABoardMapper">

<insert id="insert">
	<selectKey keyProperty="bno" order="BEFORE" resultType="int">
		select seq_QandA_board.nextval from dual
	</selectKey>

	insert into QandA_board(bno,title,content,writer_id) 
	values(#{bno},#{title},#{content},#{writer_id})
</insert>

<!-- 전체조회 -->
<!-- <select id="QandASearchList" resultType="com.company.domain.YHQandABoardVO">
	
select * from QANDA_BOARD

</select> -->
<select id="QandASearchList" resultType="com.company.domain.YHQandABoardVO">
	
	select rn ,bno, title ,regdate,replydate,writer_id from(
select rownum rn,bno,title,regdate,replydate,writer_id
from QandA_Board
where 
<![CDATA[
 rownum<=#{pageNum}*10) where rn>(#{pageNum}-1)*10
]]>
</select>

<!-- 단일 조회 -->
<select id="QandASelect" resultType="com.company.domain.YHQandABoardVO">
select * from qanda_board where bno=#{bno}
</select>

<!-- 전체 개시물 수  -->
<select id="totalCnt" resultType="int">
select count(*) from QandA_board where 
	
	
 bno>0
</select>

<update id="update">
update QandA_board 
set title=#{title},content=#{content} 
where bno=#{bno}

</update>
<update id="replyupdate">
update QandA_board 
set reply=#{reply} where bno=#{bno}

</update>
<delete id="delete">
delete from QandA_board where bno=#{bno}
</delete>
</mapper>