<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.YHTicketMapper">
<insert id="insertTicket">
insert into waitting_board  values(seq_chat_waittingTicket.nextval,seq_chat_waitting.nextval)
</insert>
<select id="getTicket" resultType="Integer">
select seq_chat_waitting.currval from dual
</select>
<update id="getWaitNumBeforeMe">
<![CDATA[
update waitting_board set wno =0 where wait_ticket< #{wait_ticket}
]]>
</update>
<delete id="deleteTicket">
delete waitting_board where wait_ticket= #{wait_ticket}
</delete>
</mapper>